

body {
  font-family: Arial, sans-serif;
  background-image: url(https://picsum.photos/id/234/1900/1000/?blur);
  background-repeat: no-repeat;
  /* background-position: center; */

}

form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], select, textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.form-group-gender{
  display: flex;
}
.form-check {
  margin-bottom: 10px;
}
/* .form-check-input{
  margin-bottom: 11px;
} */

.form-check-label {
  margin-left: 10px;
}